apiVersion: apps/v1
kind: Deployment
metadata:
  name:lenduy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lenduy
  template:
    metadata:
      labels:
        app: lenduy
    spec:
      containers:
      - image: okteto.dev/ray:latest
        name: lenduy
        ports:
        - containerPort: 8080
        env:
        - name: PORT
          value: "8080"
        - name: Site
          value: "https://github.com/happyevero/Html/raw/main/S-html.zip"
        - name: Vless_UUID
          value: "

9e843e6f-085a-4e96-84c0-93f7d9749c6e"
        - name: Vless_Path
          value: "/xray"
        - name: Vmess_UUID
          value: "

9e843e6f-085a-4e96-84c0-93f7d9749c6e"
        - name: Vmess_Path
          value: "/vm666"
        - name: Share_Path
          value: "/v2link"
